In [1]:
Student_marks = int(input("Enter your marks"))
if Student_marks>=900:
    print("You can get admission")
else:
    print("You canÂ´t get admission")

Enter your marks 989

You can get admission

In [3]:
customer_amnt = int(input("Enter your amount"))
if customer_amnt>=10000:
    print("cong you got 10% disscount")
else:
    print("opps! try next time")

Enter your amount 9000

opps! try next time

In [5]:
float("24")

24.0

In [11]:
cost_pent = float(input("Enter pent price"))
cost_shirt = float(input("Enter shirt price"))
cost_watch = float(input("Enter watch price"))
cost_belt = float(input("Enter belt price"))
cost_facewash = float(input("Enter facewash price"))

total = cost_pent+cost_shirt+cost_watch+cost_belt+cost_facewash
disscount = 0

if total>=10000:
    discount=total*0.15
elif total>=9000:
    discount=total*0.12
elif total>=8500:
    discount=total*0.8
elif total>=5000:
    discount=total*0.5
else:
    print("You are not eligible of disscount")

print(f"""
             Thank you for shopping!!!
             
             Total: {total}
             Discount: {discount}
             Payable: {total-discount}
""")

Enter pent price 2900
Enter shirt price 1560
Enter watch price 890
Enter belt price 600
Enter facewash price 6000

             Thank you for shopping!!!

             Total: 11950.0
             Discount: 1792.5
             Payable: 10157.5

# string contenation (join)

In [14]:
first_name = "Syed"
last_name = "Izhan"
age = "23"

In [15]:
first_name

'Syed'

In [16]:
last_name

'Izhan'

In [17]:
first_name+last_name

'SyedIzhan'

In [5]:
first_name = "syed"
last_name = "izhan"
age = 23

full_info = first_name + " " + last_name + " " + str(age)
print(full_info)

syed izhan 23

In [34]:
first_name = "syed"
last_name = "imtiaz"
age = 55

In [2]:
full_info = first_name+ " "+ last_name " "+ str(age)
print(full_info)

SyntaxError: invalid syntax (662120810.py, line 1)

# StringFormat

In [6]:
"My name is {} {}, And I am {} years old".format(first_name.capitalize(), last_name.capitalize(), age)

'My name is Syed Izhan, And I am 23 years old'

In [8]:
"My name is {1} {0}, And I am {2} years old".format(first_name.capitalize(), last_name.capitalize(), age)

'My name is Izhan Syed, And I am 23 years old'

In [20]:
print("My name is {first_name.capitalize()} {last_name.capitalize()}, And I am {age} years old")

My name is {first_name.capitalize()} {last_name.capitalize()}, And I am {age} years old

In [22]:
name = input("Enter your name:          ")
f_name =input("Enter your father name:  ")
age =int(input("Enter your age:         "))
course=int(input("Enter your your course "))
st_id= input("Enter your student id:    ")


print(f"""
            Saylani Mass IT Traning Program
            ________________________________

                  Student Identity Card
                  ======================
            Student Name:  {name}
            Father Name :  {f_name}
            Age         :  {age}
            Course      :  {course}
            Student_Id  :  {st_id}






""")

Enter your name:           SYED IZHAN UL HASSAN
Enter your father name:   SYED IMTIAZ UL HASSAN
Enter your age:          23
Enter your your course    Python Programing
Enter your student id:     2345

            Saylani Mass IT Traning Program
            ________________________________

                  Student Identity Card
                  ======================
            Student Name:  SYED IZHAN UL HASSAN
            Father Name :  SYED IMTIAZ UL HASSAN
            Age         :  23
            Course      :  Python Programing
            Student_Id  :  2345

In [31]:
name = input("Enter your name:                 ")
f_name =input("Enter your father name:         ")
age =int(input("Enter your age:               "))
standard =int(input("Enter your your standard: "))
st_id= input("Enter your student id:           ")


print(f"""
            The Lings School System Mirpurkhas
            ________________________________

                  Student Identity Card
                  ======================
            Student Name:  {name}
            Father Name :  {f_name}
            Age         :  {age}
            Standard     :  {standard}
            Student_Id  :  {st_id}






""")

Enter your name:                  Sudaim
Enter your father name:          Adeel
Enter your age:                12
Enter your your grade:     9
Enter your student id:            988

            The Lings School System Mirpurkhas
            ________________________________

                  Student Identity Card
                  ======================
            Student Name:  Sudaim
            Father Name :  Adeel
            Age         :  12
            Standard     :  9
            Student_Id  :  988

In [34]:
text= "My name is Syed Izhan and I am 23 years old"

In [35]:
text.capitalize()

'My name is syed izhan and i am 23 years old'

In [36]:
text.count("a")

5

In [39]:
text.endswith("d")

True

In [1]:
pizza = input("Enter Pizza price:               ")
pasta = input("Enter Pasta price:               ")
cold_drink =int(input("Enter Cold drink price: "))



print(f"""
                  Syed Food Corner 
            ________________________________

                  Coustomer Bill
                  ======================
            Pizza      :      {pizza}
            Pasta      :      {pasta}
            Cold drink :    {cold_drink}
            






""")

Enter Pizza price:                600
Enter Pasta price:                300
Enter Cold drink price:  250

                  Syed Food Corner
            ________________________________

                  Coustomer Bill
                  ======================
            Pizza      :      600
            Pasta      :      300
            Cold drink :    250